<h2>List of ratings</h2>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user, user_path(rating.user) %></li>
  <% end %>
</ul>

<p>Total ratings: <%= @ratings.count %></p>

<p><%= link_to "Rate a beer", new_rating_path %></p>
